 a.linkNav{
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-weight: 300;
}

 a.linkNav:hover{
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}