.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    background-color: #fff;
    height: 250px;
    width:400px;
    margin:3%;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.card > p{
    color:#000 ;
}

.card > h3{
    color:#000;
}

.card > img {
    height: 150px;
    width: 300px;
    align-items: center;
    border-radius: 5px;
}