nav > a{
    display: inline-block;
    position: relative;
}

nav > a::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #FEEC1B;
    transition: width 0.5s ease-out;

}

nav > a:hover::before{
    width: 100%;
    background-color: #FEEC1B;

}

nav > a:hover{
    color:#FEEC1B;
}