.projects {
    background-color: #204953;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    color:#FFF;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
}

.container-cards {
    display: flex;
    flex-direction: row;


}

.projects > h1{
    font-size: 2.5em;
    margin-top: 0;
    
}